<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="veralumnos"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf = "users">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img src="{{user.image}}" alt="">
              <ion-card-title>
                {{user.nombreA}}
              </ion-card-title>
              <p>{{user.apellidoA}}</p>

            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
